<a [routerLink]="['/list-assistants']">Return to List of Assistants</a>
<h3>Assistant Name: Veta</h3>
<h5>I help customers, tourists and guest to manage their yacht reservations such as checking availability, creating or cancelling reservations.</h5>
<img class="assistant-image" ngSrc="assets/veta-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Veta"/>
<div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" />
    <button (click)="sendMessage()">Send</button>
</div>
<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        {{ message.content }}
    </div>
</div>


