<a [routerLink]="['/list-assistants']">Return to List of Assistants</a>
<h3>Assistant Name: Donald</h3>
<h5>I help customers and tourists to answer questions about the country of Contoso Islands such as the climate, government, languages, economics and schools in the country of Contoso Islands.</h5>
<img class="assistant-image" ngSrc="assets/donald-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Donald"/>
<div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" />
    <button (click)="sendMessage()">Send</button>
</div>
<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        {{ message.content }}
    </div>
</div>


