<a [routerLink]="['/list-assistants']">Return to List of Assistants</a>
<h3>Assistant Name: Callum</h3>
<h5>I help customers to create new accounts, check account balances, deposit money in the bank account and withdraw money from the accounts</h5>
<img class="assistant-image" ngSrc="assets/callum-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Callum"/>
<div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" />
    <button (click)="sendMessage()">Send</button>
</div>
<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        {{ message.content }}
    </div>
</div>


