.chat-container {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.message {
    background-color: #f7f7f7;
    color: #000;
    padding: 5px;
    margin-bottom: 10px;
}

.user {
    background-color: #d0edff;
}

.assistant-reply {
    margin-top: 10px;
    font-style: italic;
}

.input-container {
    margin-top: 10px;
}

.input-container input {
    padding: 5px;
}

.input-container button {
    padding: 5px 10px;
    margin-left: 10px;
}

li {
    margin-top: 15px;
}