<h2>List of Assistants</h2>

<ul>
    <li><img class="assistant-thumbnail" ngSrc="assets/callum-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Callum"/><a [routerLink]="['/ask-callum']">Chat with Callum</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/donald-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Donald"/><a [routerLink]="['/ask-donald']">Chat with Donald</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/murphy-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Murphy"/><a [routerLink]="['/ask-murphy']">Chat with Murphy</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/priscilla-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Priscilla"/><a [routerLink]="['/ask-priscilla']">Chat with Priscilla</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/veta-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Veta"/><a [routerLink]="['/ask-veta']">Chat with Veta</a></li>
</ul>