# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*      @microsoft/whatthehack-admins

# directory in the root of your repository and any of its
# subdirectories.
/000-HowToHack/ @jrzyshr
/007-AzureMonitoring/ @shbabylo
/039-AKSEnterpriseGrade/ @erjosito 
/047-TrafficControlWithDapr/ @jordanbean-msft
