<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[***]]></root_password>
    <sapadm_password><![CDATA[{{ hana_database.credentials.os_sidadm_password }}]]></sapadm_password>
    <password><![CDATA[{{ hana_database.credentials.os_sidadm_password }}]]></password>
    <system_user_password><![CDATA[{{ hana_database.credentials.db_systemdb_password }}]]></system_user_password>
    <streaming_cluster_manager_password><![CDATA[***]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[***]]></ase_user_password>
    <org_manager_password><![CDATA[***]]></org_manager_password>
</Passwords>
