<!-- ko with: home -->
<div class="jumbotron">
    <img src="~/images/CI-Logo-PolicyConnect.png" alt="Contoso Insurance PolicyConnect" />
    <p>&nbsp;</p>
    <h2>PolicyConnect is now on the web!</h2>
    <p>Use the links below to get started</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Manage Policy Holders</h2>
        <p>Review existing policy holders, or add new ones here.</p>
        <p><a class="btn btn-dark" href="/static#/policyHolders">Go now &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Manage People</h2>
        <p>
            View list of people within the PolicyConnect database.
        </p>
        <p>
            <a class="btn btn-dark" href="/static#/people">Go now &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>View Policies</h2>
        <p>View the list of policies that Contoso Insurance offers.</p>
        <p><a class="btn btn-dark" href="/static#/policies">Go now &raquo;</a></p>
    </div>
</div>
<!-- /ko -->