@model ContosoTravel.Web.Application.Models.FlightReservationModel
@{
    ViewData["Title"] = $"Flights";
}

<h2>Flight Search Results</h2>

@using (Html.BeginForm("Purchase", "Flights", FormMethod.Post, new { @class = "form-inline" }))
{
    <div>
        <h4>Departing Flights</h4>
        <hr />
        @{
            ViewData["SelectedFlightName"] = "SelectedDepartingFlight";
            ViewData["SelectedFlightId"] = Model.SelectedDepartingFlight != 0 ? Model.SelectedDepartingFlight.ToString() : null;
        }
        @foreach (var departFlight in Model.DepartingFlights.OrderBy(f => f.DepartureTime))
        {
            @Html.DisplayFor(m => departFlight)
        }
    </div>
    <br />
    <div>
        <h4>Returning Flights</h4>
        <hr />
        @{
            ViewData["SelectedFlightName"] = "SelectedReturningFlight";
            ViewData["SelectedFlightId"] = Model.SelectedReturningFlight != 0 ? Model.SelectedReturningFlight.ToString() : null;
        }
        @foreach (var returnFlight in Model.ReturningFlights.OrderBy(f => f.DepartureTime))
        {
            @Html.DisplayFor(m => returnFlight)
        }
        <input type="submit" value="Add To Cart" class="btn btn-success" />
    </div>

}

