@model PartsUnlimited.Models.ApplicationUser

@{
    ViewBag.Title = string.Format("Customer - {0}", Model.UserName);
}

<br />

<div class="panel panel-default">
    <div class="panel-heading">
        Customer Information
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>Username</dt>
                    <dd>@Model.UserName</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Phone Number</dt>
                    <dd>@Model.PhoneNumber</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Email</dt>
                    <dd>@Model.Email</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
