<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <root_password><![CDATA[***]]></root_password>
    <sapadm_password><![CDATA[***]]></sapadm_password>
    <master_password><![CDATA[***]]></master_password>
    <sapadm_password><![CDATA[***]]></sapadm_password>
    <password><![CDATA[{{ pwd_os_sidadm }}]]></password>
    <system_user_password><![CDATA[{{ pwd_db_system }}]]></system_user_password>
    <streaming_cluster_manager_password><![CDATA[***]]></streaming_cluster_manager_password>
    <ase_user_password><![CDATA[***]]></ase_user_password>
    <org_manager_password><![CDATA[{{ pwd_db_xsaadmin }}]]></org_manager_password>
    <tenantdb_user_password><![CDATA[{{ pwd_db_tenant }}]]></tenantdb_user_password>
</Passwords>
