.self_asserted_container .row .panel-default {
  padding: 40px 30px;
  margin: auto;
  height: 100%;
  background-color: white;
}
.self_asserted_container .row .panel-default .panel-body {
  margin: 0 auto;
  max-width: 380px;
  width: auto;
  padding: 0px;
}
.self_asserted_container .row .panel-default .panel-body img.companyLogo {
  display: block;
  margin: auto;
  height: 70px;
}
.self_asserted_container .row .panel-default .panel-body .branding h1 {
  font-size: 1.5em;
  color: #505050;
}
.self_asserted_container .row .panel-default .panel-body h3 {
  font-size: 1.5em;
  color: #505050;
  margin-top: 5px;
  margin-bottom: 30px;
}
.self_asserted_container .row .panel-default .panel-body .intro {
  display: none;
  text-align: left;
  margin-top: 2rem;
}
.self_asserted_container .row .panel-default .panel-body #api #attributeVerification .pageLevel {
  color: #bb0000;
  text-align: left;
}
.self_asserted_container .row .panel-default .panel-body #api #attributeVerification .error {
  color: #bb0000;
  text-align: left;
  margin-bottom: 5px;
}
.errorText {
    border: none;
    padding: 0px;
    background: none;
    color: #a61e0c;
}
.self_asserted_container .row .panel-default .panel-body #api .verifying-modal {
  display: none;
  margin-top: 10px;
}
#attributeVerification #attributeList ul {
  display: flex;
  flex-direction: column;
}
#attributeVerification #attributeList ul li input {
  width: 100%;
}
#attributeVerification #attributeList ul li .helpText {
  display: none;
  color: #a61e0c;
  text-align: justify;
}
#attributeVerification #attributeList ul li #email_success.verificationSuccessText {
  float: left;
}
#attributeVerification #attributeList ul li #email_info {
  float: left;
}
#attributeVerification #attributeList ul li .attrEntry.validate #email_fail_retry {
  float: left;
}
#attributeVerification #attributeList ul li .attrEntry.validate #email_fail_server {
  float: left;
  text-align: left;
}
#attributeVerification #attributeList ul li #email_fail_no_retry {
  float: left;
}
div#email_intro {
  display: block !important;
  text-align: left;
}
div#email_info {
  text-align: left;
}

#attributeVerification #attributeList ul li input[type="radio"],
#attributeVerification #attributeList ul li input[type="checkbox"] {
    width: 20px !important;
    box-shadow: none;
    height: 20px;
    display: inline-block;
    float: left;
    clear: left;
    margin: 0.5rem;
}

/* Checkbox styling */
#attributeList ul li input[type="checkbox"] + label {
    float: left;
    display: inline-block !important;
    margin: 0.8rem 0rem 0rem 0.8rem;
    font-weight: normal;
}

#attributeList ul li input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-indent: 0px;
}

#attributeList ul li input[type="checkbox"]:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    width: 24px;
    height: 24px;
    border: 1px solid #dedede;
    border-radius: 2px;
}

#attributeList ul li input[type="checkbox"]:before {
    background: blue;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    position: absolute;
    left: 2px;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #f6ac4f;
}

#attributeList ul li input[type="checkbox"]:checked:after {
    content: '\2713';
    position: absolute;
    box-sizing: border-box;
    padding-left: 4px;
    line-height: 23px;
    color: white;
    background-color: #296ec6;
    top: 0px;
    opacity: 1;
    left: 0px;
    border: 1px solid #296ec6;
    border-radius: 2px;
}


/* Radio button styling */
#attributeList ul li input[type="radio"] + label {
    float: left;
    display: inline-block !important;
    margin: 0.5rem;
    font-weight: normal;
}

#attributeList ul li input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #dedede;
    border-radius: 50%;
    background-color: white;
    outline: 0;
}

#attributeList ul li input[type="radio"]:checked {
    background-color: #296ec6;
    border: 1px solid #296ec6;
}

.attrEntry .verificationInfoText {
    margin-bottom: 5px;
}