.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.SampleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SampleBox {
  border: 1px solid black;
  width: 20em;
  margin: 2em;
  padding: 10px;
  border-radius: 10px;
}

.SampleHeader {
  font-size: 1.25em;
}

.Button {
  background-color: #00a1f1;
  border: none;
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.Button:disabled {
  background-color: grey;
}
