matrix:
  - name: Markdown
    sources:
    - '**/*.md'
    default_encoding: utf-8
    aspell:
      lang: en
      ignore-case: true
    dictionary:
      wordlists:
      encoding: utf-8
    pipeline:
    - pyspelling.filters.markdown:
    - pyspelling.filters.html:
        comments: false
        ignores:
        - code
        - pre