@model ContosoTravel.Web.Application.Models.CartModel

@{
    ViewData["HidePurchase"] = "true";
}

@if (Model.DepartingFlight != null)
{
    <h2>Departing Flight</h2>
    @Html.DisplayFor(m => Model.DepartingFlight)
}

@if (Model.ReturningFlight != null)
{
    <h2>Returning Flight</h2>
    @Html.DisplayFor(m => Model.ReturningFlight)
}

@if (Model.HotelReservation != null)
{
    var displayHotel = new ContosoTravel.Web.Application.Models.HotelModelWithPrice(Model.HotelReservation, Model.HotelReservationDuration);
    <h2>
        Hotel Reservation
    </h2>
    @Html.DisplayFor(m => displayHotel)
}

@if (Model.CarReservation != null)
{
    var displayCar = new ContosoTravel.Web.Application.Models.CarModelWithPrice(Model.CarReservation, Model.CarReservationDuration);
    <h2>
        Car Reservation
    </h2>
    @Html.DisplayFor(m => displayCar)
}