setuptools
azure-search-documents==11.4.0b3
azure-ai-formrecognizer==3.2.1
python-dotenv
num2words==0.5.12
openai>=1.98.0
pdfminer==20191125
plotly==6.0.1
tiktoken
scikit-learn
pandas
langchain
PyPDF3
spacy
matplotlib
scipy
datasets
evaluate
azure-ai-evaluation[redteam]
azure-identity
azure-ai-evaluation
openai
semantic-kernel
azure-ai-projects
pyrit
numpy

