@{
    ViewData["Title"] = "What The Hack";
}

<h1>
    Contoso Manufacturing Test Harness App
</h1>
<p>
    This is a sample test harness app to test out our B2C User Flows and Custom Policies. It leverages the <a
        href="https://www.nuget.org/packages/Microsoft.Identity.Web">Microsoft.Identity.Web</a> library.
</p>
