@page
@model RockPaperScissorsBoom.Server.Pages.AboutModel
@{
    ViewData["Title"] = "About Rock Paper Scissors Boom";
}
<h2>@ViewData["Title"]</h2>

<p>Rock Paper Scissors Boom is a collaborative competition among developers. It's based on a project idea from a Microsoft Developer Evangelist that was called "Rock Paper Azure". Unlike that project, we are not going to require that you program on Azure, however, it will be an option.</p>

<h3>Rules of the Game</h3>

<ul>
    <li>A match is played between two bots and will consist of 100 rounds of Rock-Paper-Scissors</li>
    <li>Rock beats Scissors</li>
    <li>Scissors beats Paper</li>
    <li>Paper beats Rock</li>
    <li>A dynamite will defeat Rock, Paper, or Scissors played by the opponent.</li>
    <li>A water balloon will defeat a dynamite.</li>
    <li>Rock, Paper, and Scissors all beat water balloon.</li>
    <li>Each bot receives 10 dynamites to use during a match.</li>
    <li>All matching choices will be a tie with the same choice by opponent.</li>
    <li>Each bot may also throw a water balloon whenever it likes.</li>
</ul>
