
@{
    ViewData["Title"] = "Imporant Message";
}

<h1 class="my-4">
    <a href="/">Contoso Masks</a>
    <small>Made locally!</small>
</h1>

<h5>These are unprecedented times.</h5>

<p>We here at Conto Masks are here to do what we can to make this as comfortable as possible.  Our staff is working safely at home making the finest masks possible! </p>
<h6>Check back reguarly for updates, and thanks again!</h6>
