@model Contoso.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div id="page-content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Contoso Ltd, - PolicyConnect Login</h1>
        </div>
        <div class="card col-4 offset-4">
            <div class="card-body">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}