<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div id="page-content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Contoso Ltd, - PolicyConnect</h1>
        </div>
        <div class="card col-4 offset-4">
            <div class="card-body">
                <p>You have successfully signed out.</p>
            </div>
        </div>
    </div>
</main>