@model IEnumerable<PartsUnlimited.Models.Category>
@foreach (var genre in Model)
{
    <li>@Html.ActionLink(genre.Name, "Browse", "Store", new { CategoryId = genre.CategoryId, Area = string.Empty }, null)</li>
}
<li>@Html.ActionLink("More", "Index", "Store", new {Area = string.Empty }, null)</li>