@{
    ViewBag.Title = "Locked Out";
}
<section>
    <h2>Locked out</h2>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-danger">This account has been locked out, please try again later.</h3>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>
