    @{
        Layout = null;
    }
    <h2>People</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                City
            </th>
            <th>
                Suburb
            </th>
            <th>
                Postcode
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <td>
                {{ item.fName }}
            </td>
            <td>
                {{ item.lName }}
            </td>
            <td>
                {{ item.city }}
            </td>
            <td>
                {{ item.suburb }}
            </td>
            <td>
                {{ item.postcode }}
            </td>
            <td>
                <a ng-href="#/people/{{item.id}}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>