@{
    Layout = null;
}

    <h2>Policy Holder Details</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
    
            <div class="form-group">
                <label for="Person" class = "control-label col-md-2">
                 Person
                </label>
                <div class="col-md-10">
                    <a ng-href="#people/{{data.personId}}" >
                    {{data.person.fName}} {{data.person.lName}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Policy" class = "control-label col-md-2">
                 Policy
                </label>
                <div class="col-md-10">
                    <a ng-href="#policies/{{data.policyId}}" >
                    {{data.policy.name}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="Active" class = "control-label col-md-2">
                Active
                </label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="data.active" id="Active" ng-disabled="true" />
                </div>
            </div>
    
            <div class="form-group">
                <label for="StartDate" class = "control-label col-md-2">
                Start Date
                </label>
                <div class="col-md-10">
                    {{data.startDate | date}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="EndDate" class = "control-label col-md-2">
                End Date
                </label>
                <div class="col-md-10">
                    {{data.endDate | date}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Username" class = "control-label col-md-2">
                Username
                </label>
                <div class="col-md-10">
                    {{data.username}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PolicyNumber" class = "control-label col-md-2">
                Policy #
                </label>
                <div class="col-md-10">
                    {{data.policyNumber}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="FilePath" class = "control-label col-md-2">
                File Path
                </label>
                <div class="col-md-10"> 
                    <a ng-href="{{azureFunctionsProxyUrl}}" target="_blank">
                        {{data.filePath}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="PolicyAmount" class = "control-label col-md-2">
                Policy Amount
                </label>
                <div class="col-md-10">
                    {{data.policyAmount | currency:"$"}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Deductible" class = "control-label col-md-2">
                Deductible
                </label>
                <div class="col-md-10">
                    {{data.deductible | currency:"$"}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="OutOfPocketMax" class = "control-label col-md-2">
                Out of Pocket Max
                </label>
                <div class="col-md-10">
                    {{data.outOfPocketMax | currency:"$"}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="EffectiveDate" class = "control-label col-md-2">
                Effective Date
                </label>
                <div class="col-md-10">
                    {{data.effectiveDate | date}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="ExpirationDate" class = "control-label col-md-2">
                Expiration Date
                </label>
                <div class="col-md-10">
                    {{data.expirationDate | date}}
                </div>
            </div>       
        </div>
    
    <div>
        <a href="#/policyHolders">Back to List</a>
    </div>

