@{
    Layout = null;
}

<h2>Policies</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Policy Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Default Deductible
            </th>
            <th>
                Default Out of Pocket Max
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in data">
            <td>
                <a ng-href="#policies/{{item.id }}" >
                    View Details
                </a>
            </td>
            <td>
                {{ item.name }}
            </td>
            <td>
                {{ item.description }}
            </td>
            <td>
                {{ item.defaultDeductible | currency }}
            </td>
            <td>
                {{ item.defaultOutOfPocketMax | currency }}
            </td>
        </tr>
    </tbody>
</table>