@model ContosoTravel.Web.Application.Models.HotelReservationModel
@{
    ViewData["Title"] = $"Hotels";
    ViewData["SelectedHotelId"] = Model.SelectedHotel != 0 ? Model.SelectedHotel.ToString() : null;
}

<h2>Hotel Search Results</h2>

@using (Html.BeginForm("Purchase", "Hotels", FormMethod.Post, new { @class = "form-inline" }))
{
    <div>
        @foreach (var hotel in Model.Hotels.OrderBy(h => h.Cost))
        {
            var displayHotel = new ContosoTravel.Web.Application.Models.HotelModelWithPrice(hotel, Model.NumberOfDays);
            @Html.DisplayFor(m => displayHotel);
        }
        <input type="hidden" name="NumberOfDays" value="@Model.NumberOfDays" />
        <input type="submit" value="Add To Cart" class="btn btn-success" />
    </div>
}

