@model ContosoTravel.Web.Application.Models.ItineraryModel

@{
    ViewData["HidePurchase"] = "true";
    ViewData["Title"] = $"Itinerary";
    ContosoTravel.Web.Application.Models.CartModel cart = Model;
}

@if (Model == null)
{
    <h2>Our gnomes are working hard on your order!!!  Check back later....</h2>
}
else
{
    <h2>Record Locator: @Model.RecordLocator</h2>
    <h3>Total: @string.Format("{0:c}", Model.TotalCost)</h3>

    @Html.DisplayFor(m => cart)
}

