<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.324" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.336" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.ProjectOxford.Face" version="1.2.5" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.393" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
</packages>