<div class="contentband autosize alt-color2" style="text-align: center;">
    <div class="row">
        <div class="small-12 large-12 column">
            <img src="assets/images/logo-contoso.png">
            <hr class="primary" align="center" style="border-top-color: #49a2a2; width: 120px;">
            <p class="lead" style="font-size: 1.2rem; font-weight: 100;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum quis justo eget aliquet. Vestibulum eget lacinia metus. Sed dignissim tincidunt pellentesque. Donec sem neque, mollis a nibh vitae, luctus laoreet est. Proin id dapibus sapien. Etiam vitae odio eget sem tempus consectetur. Fusce ac vehicula erat. Nunc pharetra, turpis sed dapibus accumsan, nibh augue fermentum odio, non laoreet dui diam ac lacus. In hac habitasse platea dictumst. Etiam nisi neque, pulvinar eleifend molestie eget, interdum non nisl. Cras ligula urna, porta sed justo ut, facilisis auctor ligula. Fusce porta urna at tempus varius.</p>
        </div>
    </div>
</div>