@page
@using System.Reflection;
@model RockPaperScissorsBoom.Server.Pages.Competitors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Competitor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Competitor.Name" class="control-label"></label>
                <input asp-for="Competitor.Name" class="form-control" />
                <span asp-validation-for="Competitor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competitor.BotType" class="control-label"></label>
                <select asp-for="Competitor.BotType" class="form-control">
                    @{
                        Assembly assemblyServer = typeof(RockPaperScissorsBoom.Server.Bot.SignalRBot).Assembly;
                        Assembly assemblyCore = typeof(RockPaperScissorsBoom.Core.Game.Bots.BaseBot).Assembly;
                        var types = new List<Type>();
                        types.AddRange(assemblyServer.GetTypes());
                        types.AddRange(assemblyCore.GetTypes());
                        foreach (Type type in types)
                        {
                            if (type.IsSubclassOf(typeof(RockPaperScissorsBoom.Core.Game.Bots.BaseBot)))
                            {
                                <option value="@type.AssemblyQualifiedName?.ToString()">@type.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="Competitor.BotType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competitor.Url" class="control-label"></label>
                <input asp-for="Competitor.Url" class="form-control" placeholder="https://examplebot.azurewebsites.net/decision" />
                <span asp-validation-for="Competitor.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
