<h2>List of Assistants</h2>

<ul>
    <li><img class="assistant-thumbnail" ngSrc="assets/elizabeth-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Elizabeth"/><a [routerLink]="['/ask-elizabeth']">Chat with Elizabeth</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/esther-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Elizabeth"/><a [routerLink]="['/ask-esther']">Chat with Esther</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/miriam-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Elizabeth"/><a [routerLink]="['/ask-miriam']">Chat with Miriam</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/priscilla-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Elizabeth"/><a [routerLink]="['/ask-priscilla']">Chat with Priscilla</a></li>
    <li><img class="assistant-thumbnail" ngSrc="assets/sarah-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Elizabeth"/><a [routerLink]="['/ask-sarah']">Chat with Sarah</a></li>
</ul>