@{
    ViewBag.Title = "Confirm Email";
}
<section>
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>