@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section>
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-md-6">
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
                <p>
                    For demo purpose only: @Html.ActionLink("Click here to reset the password", "ResetPassword", new { code = ViewBag.Code })
                </p>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</section>