@page "{customerId}"
@model ShipmentIndexModel
@{
    ViewData["Title"] = "Shipments";
}

<div class="text-center">
    <h1 class="display-4">Customer Shipments Page</h1>
</div>
<hr />
<div class="row p-2">
    <div class="col-2">
        <label class="form-label h5">For customer:</label>
    </div>
    <div class="col-2">
        <select asp-for="CustomerId" class="form-select">
            <option value="1">Customer1</option>
            <option value="2">Customer2</option>
            <option value="3">Customer3</option>
            <option value="4">Customer4</option>
            <option value="5">Customer5</option>
            <option value="6">Customer6</option>
            <option value="7">Customer7</option>
            <option value="8">Customer8</option>
            <option value="9">Customer9</option>
            <option value="10">Customer10</option>
        </select>
    </div>
    <div class="col-2">
        <label class="form-label h5">For store:</label>
    </div>
    <div class="col-2">
        <select asp-for="StoreId" class="form-select">
            <option value="1">Store1</option>
            <option value="2">Store2</option>
            <option value="3">Store3</option>
            <option value="4">Store4</option>
            <option value="5">Store5</option>
            <option value="6">Store6</option>
            <option value="7">Store7</option>
            <option value="8">Store8</option>
            <option value="9">Store9</option>
        </select>
    </div>
    <div class="col-3">
        <button id="btnChangeCustomer" type="button" class="btn btn-info text-white">Change Customer/Store</button>
    </div>
</div>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Store Id</th>
            <th scope='col'>Order Id</th>
            <th scope='col'>Processed On</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.CustomerShipments.Count(); i++)
        {
            var item = Model.CustomerShipments.ElementAt(i);
            <tr>
                <td>@(i+1)</td>
                <td>@item.StoreId</td>
                <td>@item.OrderId</td>
                <td>@item.ShippedOn.ToString("yyyy-MM-dd HH:mm")</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
<script>
    $(document).ready(function () {

        $("#btnChangeCustomer").on("click", function () {
            location.href = "/Shipment/" + $("#CustomerId").find(':selected').val() + "?storeId=" + $("#StoreId").find(':selected').val();
        });

    });
</script>
}