@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img class="mx-auto d-block" alt="Rock Paper Scissors" src="~/img/RockPaperScissorsLogo.jpg">
        </div>
        <div class="text-center">
            <img class="mx-auto d-block" alt="Rock Paper Scissors" src="~/img/boom.jpg">
        </div>
    </div>
</div>