@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logout-form">
        <ul class="navbar-nav px-3">
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Sign out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav px-3">
        <li class="nav-link">
            <a asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
    </ul>
}