<a [routerLink]="['/list-assistants']">Return to List of Assistants</a>
<h3>Assistant Name: Murphy</h3>
<h5>I help students who have submitted their exams to retrieve the exam submission status as well as their grades for each exam submission.</h5>
<img class="assistant-image" ngSrc="assets/murphy-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Murphy"/>
<div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" />
    <button (click)="sendMessage()">Send</button>
</div>
<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        {{ message.content }}
    </div>
</div>


