body {
    background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/backgrounds/tasman-lake.jpg);
}
@font-face {
    font-family: 'SegoeUI';
    src: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/fonts/segoeui.WOFF);
    font-weight: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/fonts/segoeui_bold.WOFF);
    font-weight: bold;
}
#AmazonExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/amazon.svg);
}
#AmazonExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/amazon.svg);
}
#FacebookExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/facebook.svg);
}
#FacebookExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/facebook.svg);
}
#GitHubExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/github.svg);
}
#GitHubExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/github.svg);
}
#GoogleExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/google.svg);
}
#GoogleExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/google.svg);
}
#LinkedInExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/linkedin.svg);
}
#LinkedInExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/linkedin.svg);
}
#MicrosoftAccountExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/microsoft.svg);
}
#MicrosoftAccountExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/microsoft.svg);
}
#QQExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/qq.svg);
}
#QQExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/qq.svg);
}
#TwitterExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/twitter.svg);
}
#TwitterExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/twitter.svg);
}
#WeChatExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/wechat.svg);
}
#WeChatExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/wechat.svg);
}
#WeiboExchange {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/weibo.svg);
}
#WeiboExchange:hover {
  background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/weibo.svg);
}
.buttons #cancel:before {
    content: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/images/left-arrow.svg);
}


#SignInWithLogonNameExchange, #SignUpWithLogonEmailExchange, #SignUpWithLogonNameExchange {
    background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/colored/local.svg);
}
#SignInWithLogonNameExchange:hover, #SignUpWithLogonEmailExchange:hover, #SignUpWithLogonNameExchange:hover {
    background-image: url(https://<your-storage-account-name>.blob.core.windows.net/root/assets/idp_logos/white/local.svg);
}