/** Unified Signup Signin Page Styles **/
.unified_container .row .panel-default {
    padding: 40px 30px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    background-color: white;
}
.unified_container .row .panel-default .panel-body {
  max-width: 380px;
  width: auto;
  margin: 0 auto;
  padding: 0px;
}
.unified_container .row .panel-default .panel-body .companyName {
  font-size: 1.5em;
  margin-bottom: 45px;
}
.unified_container .row .panel-default .panel-body .companyLogo {
  display: block;
}
.unified_container .row .panel-default .panel-body img {
  max-width: 100%;
  width: auto;
  height: 70px;
  margin: 0 auto;
  display: block;
}
.unified_container .row .panel-default .panel-body h3 {
  font-size: 1.5em;
  display: none;
}
.unified_container .row .panel-default #api {
  display: table;
  margin: 0;
  width: 100%;
}
.unified_container .row .panel-default #api .intro {
  display: block;
  text-align: left;
}
.unified_container .row .panel-default #api .intro h2 {
  font-size: 20px;
}
.unified_container .row .panel-default #api .divider {
  display: none;
}
.unified_container .row .panel-default #api .localAccount {
  top: 10px;
  width: 100%;
}
.unified_container .row .panel-default #api .localAccount .intro h2 {
  font-size: 20px;
}
.unified_container .row .panel-default #api .localAccount .error {
  color: #bb0000;
  text-align: left;
}
.unified_container .row .panel-default #api .localAccount .entry .buttons {
  margin: 15px 0 23px 0;
  text-align: left;
}
.unified_container .row .panel-default #api .localAccount .entry .buttons button {
  background-image: none;
  background-color: #296ec6;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  height: inherit;
  line-height: 1.3333333;
  margin-top: 2rem;
  margin-right: 0px;
  margin-bottom: 1.2rem;
  margin-left: 0px;
  padding: 10px 16px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: inherit;
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: #fff;
  width: 63%;
  box-shadow: 0 0px 30px 0px #dae1f7;
}
.unified_container .row .panel-default #api .localAccount .entry .buttons button:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #1662c7;
  color: #fff;
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item label {
  display: none;
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item #logonIdentifier, .unified_container .row .panel-default #api .localAccount .entry .entry-item #password, .unified_container .row .panel-default #api .localAccount .entry .entry-item #email {
  outline: none;
  background-color: #fff !important;
  background-image: none !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 2px 10px rgba(0,0,150,0.15);
  color: #555;
  display: inline-block;
  font-size: 1em;
  height: 50px;
  line-height: 1.42857143;
  padding: 6px 20px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  width: 100% !important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item .password-label {
  position: relative;
  text-align: left;
  top: 165px;
  height: 0px;
  left: 0px;
  width: 100%;
}
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item .password-label #forgotPassword {
  position: absolute;
  bottom: 90px;
  clear: right;
  cursor: pointer;
  float: right;
  text-align: right;
}
.unified_container .row .panel-default #api .localAccount .create p {
  text-align: left;
  margin-top: -3rem;
  margin-bottom: 3rem;
}
.unified_container .row .panel-default #api .localAccount .create #createAccount {
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  height: inherit;
  line-height: 1.3333333;
  padding: 10px 16px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-touch-action: manipulation;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-top: -3rem;
  cursor: pointer;
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}
.unified_container .row .panel-default #api .social {
  display: table-footer-group;
  position: relative;
  top: 1px;
  width: auto;
}
.unified_container .row .panel-default #api .social .accountButton {
    background-size: 10% 70%;
    background-position-x: 3%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    display: block;
    font-size: 16px;
    height: 45px;
    width: 100%;
    margin-left: auto;
}
.unified_container .row .panel-default #api .social .accountButton:hover {
    border-radius: 0.5rem;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}
@media (max-width: 100%) {
  .unified_container .row .panel-default {
      margin-top: auto;
      margin-bottom: auto;
      height: 550px;
 }
  .unified_container .row .panel-default .panel-body {
      /*padding: 15px 10px;*/
      padding: 5rem 3rem;
      margin-top: 20px;
 }
  .unified_container .row .panel-default .panel-body .companyName {
      display: none;
 }
  .unified_container .row .panel-default .panel-body .companyLogo {
      display: block;
 }
  .unified_container .row .panel-default .panel-body h3 {
      display: block;
 }
  .unified_container .row .panel-default .panel-body #api {
      width: auto;
 }
  .unified_container .row .panel-default .panel-body #api .social {
      top: 370px;
      width: auto;
 }
  .unified_container .row .panel-default .panel-body #api .social .options .accountButton {
      height: 40px;
 }
  .unified_container .row .panel-default .panel-body #api .social .options #FacebookExchange {
      background-size: 12px;
      background-position: 50% 75%;
      margin-bottom: 10px;
 }
  .unified_container .row .panel-default .panel-body #api .social .options #GoogleExchange {
      background-size: 20px;
      background-position: 50% 75%;
      margin-bottom: 10px;
 }
  .unified_container .row .panel-default .panel-body #api .social .options #TwitterExchange {
      background-size: 20px;
      background-position-x: 56px;
      background-position-y: 14px;
      margin-bottom: 10px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount {
      top: 20px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item {
      display: block;
      width: 100%;
      margin-bottom: 10px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item .password-label {
      top: 145px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item #logonIdentifier {
      height: 40px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item #email {
      height: 40px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item #password {
      height: 40px;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .entry-item:nth-child(2) {
      width: auto;
      float: left;
 }
  .unified_container .row .panel-default .panel-body #api .localAccount .entry .buttons #next {
      width: auto;
      text-indent: -4px;
      height: 40px;
      line-height: 0px;
      position: relative;
      bottom: 5px;
      left: 8px;
 }
}