@model ContosoTravel.Web.Application.Models.CarReservationModel
@{
    ViewData["Title"] = $"Cars";
    ViewData["SelectedCarId"] = Model.SelectedCar != 0 ? Model.SelectedCar.ToString() : null;
}

<h2>Car Search Results</h2>

@using (Html.BeginForm("Purchase", "Cars", FormMethod.Post, new { @class = "form-inline" }))
{
<div>
    @foreach (var car in Model.Cars.OrderBy(c => c.Cost))
    {
        var displayCar = new ContosoTravel.Web.Application.Models.CarModelWithPrice(car, Model.NumberOfDays);
        @Html.DisplayFor(m => displayCar);
    }

    <input type="hidden" name="NumberOfDays" value="@Model.NumberOfDays" />
    <input type="submit" value="Add To Cart" class="btn btn-success" />
</div>
}

