<a [routerLink]="['/list-assistants']">Return to List of Assistants</a>
<h3>Assistant Name: Priscilla</h3>
<h5>I help guests to figure out what activities they should check out when visiting Contoso Islands. I will need your email address.</h5>
<img class="assistant-image" ngSrc="assets/priscilla-ai-assistant.jpg" height="1024" width="1024" alt="AI Assistant Priscilla"/>
<div class="input-container">
    <input [(ngModel)]="userMessage" placeholder="Enter your message" />
    <button (click)="sendMessage()">Send</button>
</div>
<div class="chat-container">
    <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        {{ message.content }}
    </div>
</div>


