@model IEnumerable<PartsUnlimited.Models.Product>
@using PartsUnlimited.Utils
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Parts Unlimited Online Store Recommenations</h1>
    <title>Your Recommentations</title>
    <h2>Your recomendations are:</h2>
    Brembo Brakes
    Tires
</div>

     