name: Create a release for a WhatTheHack hackathon

on:
  workflow_dispatch:
    inputs:
      hackathonName:
        description: "The name of the hackathon to create a release for"
        required: true
        default: "001-IntroToKubernetes"
      pathToStudentResources:
        description: "The path to the Student Resources directory."
        required: true
        default: "Student/Resources"
      branchName:
        description: "The name of the branch to create the release from."
        required: true
        default: "master"

jobs:
  determine-changed-hackathon:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
        all_changed_hackathons: ${{ steps.convert-to-json-array.outputs.all_changed_hackathons }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Convert space-separated string to JSON array
        id: convert-to-json-array
        run: |
          JSON_ARRAY=$(echo ${{ inputs.hackathonName }} | tr -d '\n' | jq -R -s -c 'split(" ")')
          echo "::set-output name=all_changed_hackathons::$JSON_ARRAY"
  package:
    needs: determine-changed-hackathon
    uses: ./.github/workflows/create-wth-release.yml
    with:
      hackathonNames: ${{ needs.determine-changed-hackathon.outputs.all_changed_hackathons }}
      pathToStudentResources: ${{ inputs.pathToStudentResources }}
      branchName: ${{ inputs.branchName }}

