name: Spell Check

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches: [master]
    paths:
      - "**.md"

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@87e23c4c79a603288642711155953c7da34b11ac
        with:
          files: |
            **/*.md
      - uses: ./.github/actions/spell-check
        name: WTH Spell Check
        with:
          spell_check_yaml_path: .github/workflows/spell-check/spellcheck.yml
          markdown_base_path: .
          changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
